/* Trivia css */
* {
    color: #f08a38;
}

body {
    background-image: url('../images/backgroundImage.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar {
    opacity: 0.7;
}

.jumbotron {
    margin: 5% 5% 2% 5%;
    background-image: url('../images/jumbotronBackground.png');
    background-size: 100%;
    height: 500px;
    opacity: .95;
    text-align: center;
}

.gifS {
    width: 60%;
}



/* media queries */
@media only screen and (max-width:1200px) {
    body {
        background-image: url('../images/mediaQueryBackground.png');
        background-size: 100%;
        background-repeat: repeat;
        background-position: center;
    }

    .gifS {
        width: 100%;
    }
}